# Visual Studio local configuration folder
/.vs

# User files
*.user
*.bak

# Output directories
out/
build/
dist/
_build_/
_test_/
_tmp_/
_out_/

# Nuget packages are not (yet?) stored in this git repo
packages/
