# based on: https://github.com/actions/starter-workflows/blob/main/ci/cmake-multi-platform.yml
# https://docs.github.com/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix

name: CI Linux

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        configuration_preset: [linux-debug, linux-release, linux-relwithdebinfo, linux-x86-debug, linux-x86-release]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build and Test in Dev Container
        uses: devcontainers/ci@v0.3
        with:
          push: never
          runCmd: |
            cmake --preset ${{ matrix.configuration_preset }}
            cmake --build build/${{ matrix.configuration_preset }} --parallel
            ctest --test-dir build/${{ matrix.configuration_preset }} --output-on-failure --verbose --output-junit TEST-${{ matrix.configuration_preset }}.xml
            cpack --config build/${{ matrix.configuration_preset }}/CPackSourceConfig.cmake

      - name: JUnit Report
        uses: mikepenz/action-junit-report@v4
        if: success() || failure()
        with:
          report_paths: build/**/TEST-*.xml

      - name: Upload Distributable Packages
        uses: actions/upload-artifact@v4
        with:
          name: source-package-${{ matrix.configuration_preset }}
          path: dist/*
