# based on: https://github.com/actions/starter-workflows/blob/main/ci/cmake-multi-platform.yml
# https://docs.github.com/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix

name: CI Windows

on: [push]

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        preset: [windows-x86-vs2022, windows-x64-vs2022]
        config: [Debug, Release]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ contains(matrix.preset, 'x86') && 'x86' || 'x64' }}

      - name: Configure CMake
        run: cmake --preset ${{ matrix.preset }}

      - name: Build
        run: cmake --build build/${{ matrix.preset }} --config ${{ matrix.config }} --parallel

      - name: Test
        run: ctest --test-dir build/${{ matrix.preset }} --build-config ${{ matrix.config }} --output-junit TEST-${{ matrix.preset }}-${{ matrix.config }}.xml

      - name: JUnit Report
        uses: mikepenz/action-junit-report@v4
        if: success() || failure()
        with:
          report_paths: build/**/TEST-*.xml
