# based on: https://github.com/actions/starter-workflows/blob/main/ci/cmake-multi-platform.yml
# https://docs.github.com/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix

name: CI Windows

on: [push]

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        configuration_preset: [win-x86-debug, win-x86-release, win-x64-debug, win-x64-release, windows-x86-vs2022, windows-x64-vs2022]
        build_preset: [windows-x86-debug, windows-x86-release, windows-x64-debug, windows-x64-release]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      # cmake examples:
      #  - https://github.com/madler/zlib/blob/develop/.github/workflows/cmake.yml
      #  - https://github.com/actions/starter-workflows/blob/main/ci/cmake-multi-platform.yml

      - name: Configure CMake
        working-directory: ${{ github.workspace }}
        run: cmake --preset ${{ matrix.configuration_preset }}

      - name: Build
        working-directory: ${{ github.workspace }}
        run: cmake --build --preset ${{ matrix.build_preset }} --parallel

      - name: Test
        working-directory: ${{ github.workspace }}
        run: ctest --test-dir build/${{ matrix.configuration_preset }} --output-junit TEST-${{ matrix.build_preset }}.xml

      - name: JUnit Report
        uses: mikepenz/action-junit-report@v4
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: _build_/**/TEST-*.xml
